.custom-error-toast {
  background-color: #d32f2f;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

.custom-error-progress {
  background-color: #ffffff; 
  height: 5px; 
  border-radius: 4px; 
}